@keyframes menua_sarrera {
    0% {
      transform: translateY(-60%);
    }
    40% {
      transform: translateY(0);
    }
    70% {
      transform: translateY(-20%);
    }
    100% {
      transform: translateY(0);
    }
}

@keyframes torloju {

  /*25%,100% {
    -ms-transform: scale(1, 1) rotate(0deg);
    -webkit-transform: scale(1, 1) rotate(0deg);
    transform: scale(1, 1) rotate(0deg);
  }
  90% {
    -ms-transform: scale(0.5, 0.5) rotate(360deg);
    -webkit-transform: scale(0.5, 0.5) rotate(360deg);
    transform: scale(0.5, 0.5) rotate(360deg);
  }*/

  50% {
    -ms-transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }
  100% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@keyframes erabiltzailea_sartu {

  0% {
    margin-left: -200px;
  }
  75% {
    margin-left: 50px;
  }
  85% {
    margin-left: 20px;
  }
  95% {
    margin-left: 35px;
  }
  100% {
    margin-left: 30px;
  }
}

@keyframes botoia-haunditu {
   0% {
    transform: scale(1);
     -ms-transform: scale(1);
    -webkit-transform: scale(1);
  }
  50%{
    transform: scale(1.5);
     -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
  }
  100%{
    transform: scale(1);
     -ms-transform: scale(1);
    -webkit-transform: scale(1);
  }
}

@keyframes beheko-menua-gorde {
  0% {
    bottom: 15px;
  }
  25% {
    bottom: 25px;
  }
  50%{
    bottom: 0px;
  }
  100%{
    bottom: -200px;
  }
}

@keyframes beheko-menua-erakutsi {
  0%{
    bottom: -200px;
  }
  25%{
    bottom: 0px;
  }
  50% {
    bottom: 25px;
  }
  100% {
    bottom: 15px;
  }
}


@keyframes goiko-menua-gorde {
  0% {
    top: 15px;
  }
  25% {
    top: 25px;
  }
  50%{
    top: 0px;
  }
  100%{
    top: -200px;
  }
}

@keyframes goiko-menua-erakutsi {
  0%{
    top: -200px;
  }
  25%{
    top: 0px;
  }
  50% {
    top: 25px;
  }
  100% {
    top: 15px;
  }
}
