@font-face {
    font-family: ARCHRISTY;
    src: url(../fonts/ARCHRISTY.ttf);
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* Lo siguiente impide que se puedan seleccionar los textos */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
h1, h2, h3, h4, h5, h6, label {
  font-family: ARCHRISTY;
}
#eszenatokia {
  width: 100%;
  height: 100%;
  background: url('../images/defektuzko-fondoa.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 10px;
  margin: 0;

  /* lo siguiente está añadido para probar las animaciones en la primera pantalla, afectará luego? */
  overflow: hidden;
  position: relative;
}

/** Hasiera pantailak (erabiltzaileak/ipuinak) **/

#menua-burua {
  margin-top: 50px;
}

#menua-burua #kontaklik {
  text-align: center;
  margin: 20px;
}

#menua-burua #kontaklik img {
  max-width: 30%;
  height: auto;
}

#menua-burua #erabiltzailea {
  float: left;
  margin-left: 30px;
  padding: 10px 20px;
  background-color: #f2da70;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;

  animation: erabiltzailea_sartu 1s linear 0.5s backwards;
}

#menua-kutxa {
  width: 90%;
  border: 15px solid #fff;
  border-radius: 10px;
  padding: 40px;
  background-color: rgba(255,255,255,0.5);
  margin-right: auto;
  margin-left:auto;
  margin-top: 10%;
  height: 60%;
}

#menua-kutxa #elementuak {
  width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
}

#menua-kutxa #elementuak .elementua {
  display: inline-block;
  width: 32%;
  margin-right: 15px;
  vertical-align: top;
  text-align: center;
  word-wrap: break-word;
}

#menua-kutxa #elementuak .elementua:last-child {
  margin-right: 0;
}

#menua-kutxa #elementuak .elementua a,
#menua-kutxa #elementuak .elementua a:hover,
#menua-kutxa #elementuak .elementua a:focus,
#menua-kutxa #elementuak .elementua a:visited {
  display: inline-block;
  text-decoration: none;
}

#menua-kutxa #elementuak .elementua a:active img {
  border: 4px solid #e73d64 !important;
  /*transform: translateY(4px);*/
}

#menua-kutxa #elementuak .elementua img {
  max-width: 100%;
  max-height: 190px;
  width: auto;
  height: auto;
}

#menua-kutxa #elementuak .elementua p {
  white-space: normal;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  padding-top: 10px;
  color: #92a7ac;
}

#menua-kutxa #berria {
  width: 100%;
  height: 190px;
  text-align: center;
  background-color: #f2da70;
}

#menua-kutxa #berria img {
  width: auto;
  height: 50px;
  margin: 60px auto 20px auto;
  animation: torloju 4s linear 0s infinite;
}

#menua-kutxa #berria a,
#menua-kutxa #berria a:hover,
#menua-kutxa #berria a:focus {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
}

/** Ipuinak editatzeko menu nagusia **/
.menu-fondoa {
  border-radius: 12px 12px 12px 12px;
  -moz-border-radius: 12px 12px 12px 12px;
  -webkit-border-radius: 12px 12px 12px 12px;
  border: 8px solid #fff;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.6);
  box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.6);
  background-color: rgba(255,255,255,0.9);
}
.menu-fondoa-bokadiloak {
  border-radius: 12px 12px 12px 12px;
  -moz-border-radius: 12px 12px 12px 12px;
  -webkit-border-radius: 12px 12px 12px 12px;
  border: 8px solid #fff;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.6);
  box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.6);
  background-color: rgba(255, 96, 96, 0.5);
}
#goiko-menua {
  position: fixed;
  top: 15px;
  left: 125px;
  right: 15px;
  z-index: 1001;
  width: 85%;
  padding: 10px;
  }

#goiko-menua img {
  height: 70px;
  width: auto;
}
#beheko-menua {
  position: fixed;
  bottom: 15px;
  left: 125px;
  right: 15px;
  z-index: 1001;
  width: 85%;
}

#beheko-menua .kontaklik {
  float: left;
  margin: 6px auto auto 6px;
}

#beheko-menua .kontaklik img {
  height: 50px;
  width: auto;
}

#beheko-menua .nav-tabs {
  border: none;
  background-color: rgba(255,255,255,0) !important;
}
#beheko-menua .nav-tabs > li > a {
  width: 100px;
  padding: 0px;
  margin: 0px 10px;
  border: none;
  background-color: rgba(255,255,255,0) !important;
}
#beheko-menua .nav-tabs > li.active > a {
  border: none !important;
}

#beheko-menua .nav-tabs > li > a .pestaina-irudia {
  width: 100%;
  filter: grayscale(1);
}
#beheko-menua .nav-tabs > li.active > a .pestaina-irudia{
  filter: grayscale(0);
}

#beheko-menua .tab-edukia {
  height: 120px;
  padding: 10px;
}

#beheko-menua .tab-edukia #eszenak .prevnext {
  float: left;
  height: 60px;
  width: auto;
  padding-top: 24px;
  margin-right: 10px;
}

#goiko-menua #eszenak .fondoak {
  float: left;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  margin-right: 10px;
}

#goiko-menua #eszenak .fondoak .fondo,
#goiko-menua #eszenak .fondoak .fondo:focus {
  display: inline-block;
  height: 90px;
  width: auto;
  margin: 0px 5px 0px 5px;
}

#goiko-menua #eszenak .fondoak .fondo.active,
#goiko-menua #eszenak .fondoak .fondo.active:focus {
  border: 4px solid #e73d64;
}

#goiko-menua #eszenak .fondoak .fondo:last-child {
  margin-right: 0;
}
/*
#beheko-menua .tab-edukia #play_ipuina {
  height: 70px;
  width: auto;
  margin-top: 10px;
  margin-right: 10px;
  padding: 0;
  float: right;
} */
#play_ipuina, #stop_ipuina {
  position: fixed;
  bottom: 25px;
  left: 15px;
  height: 70px;
  width: auto;
  z-index: 1001;
}
#atzera_joan {
  position: fixed;
  top: 25px;
  left: 15px;
  height: 70px;
  width: auto;
  z-index: 1001;
}

#beheko-menua .tab-edukia #eszena_berria,
#beheko-menua .tab-edukia #testu_berria{
  height: 70px;
  width: auto;
  margin-top: 10px;
  padding: 0;
}

#beheko-menua .tab-edukia .elementuak {
  width: 100%;
  height: 100%;
  white-space: nowrap;
  overflow-x: scroll;
}

#beheko-menua .tab-edukia .elementuak .irudia {
  display: inline-block;
  height: 90px;
  width: auto;
  margin: 0px 5px 0px 0px;
}

#beheko-menua .tab-edukia .elementuak a:last-child .irudia {
  margin-right: 0;
}

#beheko-menua .tab-edukia .kargatu {
  width: 100%;
  height: 100%;
  text-align: right;
}

#beheko-menua .tab-edukia .kargatu .info {
  max-height: 90px;
  max-width: 50%;
  height: auto;
  width: auto;
}

#beheko-menua .tab-edukia .kargatu .ikon {
  width: 45%;
}

#beheko-menua .tab-edukia .mikro {
  float: left;
  margin-left: 10px;
  margin-right: 40px;
  text-align: center;
  padding-top: 10px;
}

#beheko-menua .tab-edukia .mikro img {
  height: 60px;
  width: auto;
}

#beheko-menua .tab-edukia .mikro p  {
  color: #e73d64;
  font-weight: bold;
  font-size: 12px;
}

#beheko-menua .tab-edukia .kontrols {
  float: left;
  padding-top: 10px;
}

#beheko-menua .tab-edukia .kontrols img {
  height: 60px;
  width: auto;
  margin-right: 10px;
}

#beheko-menua-collapsed,
#bideo_modua_stop {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1001;
}

#bideo_modua_stop img {
  height: 70px;
  width: auto;
}
#atzera_joan_ipuinak {
  position: absolute;
  top: -35px;
  left: 35px;
  height: 80px;
  width: auto;
  z-index: 1001;
}
#audio_on_off {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1001;
}

#audio_on_off img {
  height: 70px;
  width: auto;
}

/** Leiho modala **/

body.modal-open { /* para desabilitar el scroll por detrás de la ventana modal */
  position: fixed;
  overflow: hidden;
}

.modal-dialog {
  margin: 50px auto !important;
}

.modal-content {
  background-color: #9ac140 !important;
  border-radius: 0px !important;
}

.modal-header {
  border-bottom: none !important;
}

.modal-header h4.modal-title {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.modal-header .itxi {
  position: absolute;
  top: -25px;
  right: -25px;
  width: 50px;
  height: auto;
}

.modal-body label {
  color: #fff;
}

.modal-body .form-control,
.modal-body .form-control:focus {
  border-color: #fff;
  border-radius: 0px;
  box-shadow: none;
}

.modal-body .botoiak {
  text-align: center;
  padding-top: 20px;
}

.modal-body .botoiak button,
.modal-body .botoiak button:hover,
.modal-body .botoiak button:focus {
  background-color: #fff;
  color: #e73d64;
  border-color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 6px 24px;
  outline: none;
}

.modal-body .botoiak button:active {
  background-color: #e73d64;
  color: #fff;
  border-color: #e73d64;
}

.modal-body .has-error .form-control {
  border-color: #e73d64;
}

.modal-body .alert-warning {
  color: #e73d64;
  background-color: #fff;
  border-color: #e73d64;
}

.modal-body #argazkia {
    text-align: center;
}

.modal-body #argazkia img {
    width: 200px;
    height: auto;
}

/** Cojón, digo cajón desastre **/

.laukia {
  position: absolute;
  /*background: silver;*/
  max-width: 150px;
  max-height: 150px;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bokadilo-testua {
  position: absolute;
  width: 100px;
  word-wrap: break-word;
  top: 2%;
  left: 2%;
}

.objektua {
  z-index: 10;
}

.testua {
  z-index: 20;
}

.testua div {
  display: inline;
  position: absolute;
  padding: 10px;
  max-width: 90%;
  max-height: 50%;

  /* El resto de propiedades están en la clase .bubble definida en el archivo css/speech_bubbles.css*/
}

.laukitxo {
  display:inline-block;
  border: 2px solid #000;
  width:40px;
  height:40px;
  margin-right: 2px;
}

.laukitxo.aukeratuta {
  border-color: yellow;
}

#play_eszena {
  position: fixed;
  bottom: 15px;
  right: 15px;
  height: 70px;
  width: auto;
  z-index: 1001;
}

#lanean {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ededec;
  z-index: 2001;
  text-align: center;
  /*padding-top: 250px;*/
  font: 0/0 a;
}

#lanean:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

#lanean img {
  vertical-align: middle;
  display: inline-block;
}

#tutoriala {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ededec;
  padding: 30px;
  z-index: 2001;
}

#tutoriala > div,
#tutoriala > div > div {
  width: 100%;
  height: 100%;
}

#tutoriala .steps-indicator {
  position: fixed;
  bottom: 30px;
}
#goiko-collapse {
  position: fixed;
  top: 0px;
  right: 10px;
  z-index: 1002;
}
#goiko-collapse img {
   width: 50%;
}
#beheko-collapse {
  margin: 0;
  position: fixed;
  bottom: 0px;
  right: 10px;
  z-index: 1002;
}
#beheko-collapse img {
   width: 50%;
}
#testua-div {

  width: 80%;
  padding: 1em;
  border-radius: 3px;
  outline: none;
  border: 2px solid transparent;
  background: #FFF;
  text-decoration: none;
}
#testua-div:focus, section > #testua-div:focus:hover  {
  background: #FFF;
  border-color: #69c773;
  box-shadow: 0 1px 5px rgba(0,0,0,0.15) inset;
}

.gorringo {
  color: #F00;
}
/* ANIMAZIOAK */
.botoia-haunditu {
  animation: botoia-haunditu 0.5s ease-in;
}

.goiko-menua-gorde {
  animation: goiko-menua-gorde 1s ease-in forwards;
}
.goiko-menua-erakutsi {
  animation: goiko-menua-erakutsi 1s ease-out forwards;
}

.beheko-menua-gorde {
  animation: beheko-menua-gorde 1s ease-in forwards;
}
.beheko-menua-erakutsi {
  animation: beheko-menua-erakutsi 1s ease-out forwards;
}


.itzal {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);

  /* Lo siguiente evita que, en iOS, los iconos con sombra parpadeen o se corten en ocasiones */
  /* Fuente: https://quickleft.com/blog/4-steps-to-minimizing-rendering-issues-in-cordova-applications/ */
  -webkit-transform: translateZ(0);
}

.itzal:active {
  -webkit-filter: none;
  filter: none;
  transform: translateY(5px);
}
