<canvas id="canvas">Zure tabletean ezin da ekintza hau burutu</canvas>
<div class="panela">
  <button class="btn btn-primary btn-lg" id="moztu" ng-click="moztu()"><i class="glyphicon glyphicon-scissors"></i></button>
  <button class="btn btn-warning btn-lg" id="garbitu" ng-click="garbitu()"><i class="glyphicon glyphicon-erase"></i></button>
  <button class="btn btn-success btn-lg" id="gorde" ng-click="gorde()"><i class="glyphicon glyphicon-ok"></i></button>
  <button class="btn btn-danger btn-lg" id="ezabatu" ng-click="ezabatu()"><i class="glyphicon glyphicon-remove"></i></button>
</div>
