<div id="editorea">
  <div id="lanean"><img src="images/lanean.gif" alt="lanean" /></div>
  <canvas id="canvas">Zure tabletean ezin da ekintza hau burutu</canvas>
  <div id="panela">
    <a id="atzera" ng-click="atzera()"><img src="images/ikonoak/atzera.png"></a>
    <a id="moztu" ng-click="moztu()"><img src="images/ikonoak/moztu.png"></a>
    <a id="garbitu" ng-click="garbitu()"><img src="images/ikonoak/ezabagoma.png"></a>
    <a id="gorde" ng-click="gorde()"><img src="images/ikonoak/check.png"></a>
    <a id="ezabatu" ng-click="ezabatu()"><img src="images/ikonoak/cross.png"></i></a>
  </div>
</div>
