<img src="images/plano0.png" class="planoa" id="zerua"/>
<img src="images/plano1.png" class="planoa" id="lainoak"/>
<img src="images/plano2.png" class="planoa" id="mendiak"/>
<img src="images/plano3.png" class="planoa" id="arbolak"/>

<a ng-click="audio_on_off ('sarrera')" id="audio_on_off"><img ng-src="{{audio_mutu && 'images/ikonoak/bolumena-off.png' || 'images/ikonoak/bolumena-on.png'}}" class="" alt="audio" /></a>
<img src="images/kontaklik.png" class="logo" />
<div class="container" id="menua-kutxa">
  <div class="izenburua">
    Erabiltzaileak
  </div>
  <a ng-click="erabiltzailea_datuak (0)">
    <img src="images/ikonoak/plus.png" alt="erabiltzaile berria" id="berria" />
  </a>
  <div class="row">
    <div class="col-xs-12">
      <div id="elementuak">
        <div class="elementua" ng-repeat="erabiltzailea in erabiltzaileak track by $index">
          <a href="#/ipuinak/{{erabiltzailea.id}}" ng-click="soinuak.audio_play ('click')" hm-press="erabiltzailea_datuak (erabiltzailea.id)">
            <img src="images/erabiltzailea.png" fallback-src="images/erabiltzailea.png" ng-src="{{erabiltzailea.argazkia}}" alt="argazkia" />
            <p>{{erabiltzailea.izena}}</p>
          </a>
        </div>
      </div>
    </div>
    </div>
  </div>
