<div class="container" id="menua">
  
  <div class="row">
    <div class="col-xs-12">
      <button type="button" class="btn btn-primary btn-block btn-lg" ng-click="modal_ireki_erabiltzaile_berria ()">SORTU ERABILTZAILE BERRIA</button>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12">
      <h1>ERABILTZAILEAK</h1>
      
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="erabiltzailea in erabiltzaileak">
          <a href="#/ipuinak/{{erabiltzailea.id}}">{{erabiltzailea.izena}}</a>
        </li>
      </ul>
    </div>
  </div>
  
</div>