<a ng-click="goikoMenuaCollapse()" id="goiko-collapse" class="play_gorde"><img ng-src="images/izkutatu-eszenak.png"></a>
<a ng-click="behekoMenuaCollapse()" id="beheko-collapse" class="play_gorde"><img ng-src="images/izkutatu-menua.png"></a>
<a ng-click="elkarbanatu()"><img id="elkarbanatu" src="images/ikonoak/elkarbanatu.png" class="" alt="elkarbanatu" /></a>
<p id="portada_izenburua">{{ ipuina.izenburua }}</p>
<div class="row menu-fondoa play_gorde" id="goiko-menua">
  <div class="col-xs-10">
    <div id="eszenak">
      <div class="fondoak">
        <div ng-repeat="eszena in eszenak track by $index" class="eszena-fondoa" ng-click="changeEszena (eszena)" hm-press="pressEszena (eszena.id)">
          <img class="fondo" ng-class="{'active': eszena.id == uneko_eszena_id}" ng-src="{{eszena.fondoa_fullPath}}" src="images/eszena_fondo_gabe.jpg" alt="eszena" />
          <div class="eszena-zenbakia">
            {{ $index + 1 }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-1">
    <a ng-click="addEszena ()"><img src="images/ikonoak/plus.png" id="eszena_berria" alt="eszena berria" /></a>
  </div>
</div>
</div>

<uib-tabset active="0" id="beheko-menua" class="play_gorde">
  <uib-tab index="0">
    <uib-tab-heading><img class="pestaina-irudia" src="images/pestaina-fondoak-aktibo.png" /></uib-tab-heading>
    <div class="tab-edukia menu-fondoa">
      <div class="row">
        <div class="col-xs-9">
          <div class="elementuak">
            <a ng-click="addFondoa (fondoa)" hm-press="pressFondoa (fondoa)" ng-repeat="fondoa in fondoak"><img ng-src="{{fondoa.miniPath}}" class="irudia" alt="fondoa" fallback-src="images/eszena_fondo_gabe.jpg"/></a>
          </div>
        </div>

        <div class="col-xs-3">
          <div class="kargatu">
            <a ng-click="takeGallery ('fondoa')"><img src="images/ikonoak/galeria.png" height="70px" class="ikon galeria" alt="galeria" /></a>
            <a ng-click="takePicture ('fondoa')"><img src="images/ikonoak/kamara.png" height="70px" class="ikon kamara" alt="kamara" /></a>
          </div>
        </div>
      </div>
    </div>
  </uib-tab>

  <uib-tab index="1">
    <uib-tab-heading><img class="pestaina-irudia" src="images/pestaina-pertsonaiak-aktibo.png" /></uib-tab-heading>

    <div class="tab-edukia menu-fondoa">
      <div class="row">
        <div class="col-xs-9">
          <div class="elementuak">
            <a ng-click="addObjektua (objektua)" hm-press="pressObjektua (objektua)" ng-repeat="objektua in objektuak"><img ng-src="{{objektua.miniPath}}" class="irudia" alt="objektua" fallback-src="images/erabiltzailea.png"/></a>
          </div>
        </div>

        <div class="col-xs-3">
          <div class="kargatu">
            <a ng-click="takeGallery ('objektua')"><img src="images/ikonoak/galeria.png" height="70px" class="ikon galeria" alt="galeria" /></a>
            <a ng-click="takePicture ('objektua')"><img src="images/ikonoak/kamara.png" height="70px" class="ikon kamara" alt="kamara" /></a>
          </div>
        </div>
      </div>
    </div>
  </uib-tab>

  <uib-tab index="2">
    <uib-tab-heading><img class="pestaina-irudia" src="images/pestaina-testuak-aktibo.png" /></uib-tab-heading>
    <div class="tab-edukia menu-fondoa">
      <div class="row">
        <div class="col-xs-10">
          <div class="elementuak">
            <a ng-click="addBokadiloa (bokadiloa)" hm-press="pressBokadiloa (bokadiloa)" ng-repeat="bokadiloa in bokadiloak"><img ng-src="{{bokadiloa.fullPath}}" class="irudia" alt="bokadiloa" fallback-src="images/eszena_fondo_gabe.jpg"/></a>
          </div>
        </div>
      </div>
    </div>
  </uib-tab>

  <uib-tab index="3" deselect="audioa_tab_desaukeratua()">
    <uib-tab-heading><img class="pestaina-irudia" src="images/pestaina-audioak-aktibo.png" /></uib-tab-heading>

    <div class="tab-edukia menu-fondoa">
      <div class="row">
        <div class="col-xs-3 kontrolak" ng-hide="uneko_audioa.izena != ''">
          <div class="mikro">
            <img src="images/ikonoak/mikroa.png" alt="mikrofonoa" />
            <p>{{uneko_audioa.counter | kontador}}</p>
          </div>

          <div class="kontrols">
            <a ng-click="audioa_startRecord ()" ng-hide="uneko_audioa.egoera == 'record'"><img src="images/ikonoak/grabatu.png" class="" alt="grabatzen hasi" /></a>
            <a ng-click="audioa_stopRecord ()" ng-hide="uneko_audioa.egoera == 'stop'"><img src="images/ikonoak/stop.png" class="" alt="grabazioa gelditu" /></a>
          </div>
        </div>

        <div class="col-xs-3 kontrolak" ng-hide="uneko_audioa.izena == ''">
          <div class="mikro">
            <img src="images/ikonoak/mikroa.png" alt="mikrofonoa" />
            <p>{{uneko_audioa.counter | kontador}}</p>
          </div>

          <div class="kontrols">
            <a ng-click="audioa_play ()" ng-hide="uneko_audioa.egoera == 'play'"><img src="images/ikonoak/play.png" class="" alt="entzun" /></a>
            <!-- <a ng-click="audioa_pause ()" ng-hide="uneko_audioa.egoera != 'play'"><img src="images/ikonoak/pause.png" class="" alt="pausatu" /></a> -->
            <a ng-click="audioa_stop ()" ng-hide="uneko_audioa.egoera != 'play' && uneko_audioa.egoera != 'pause'"><img src="images/ikonoak/stop.png" class="" alt="gelditu" /></a>

            <a ng-click="audioa_delete ()"><img src="images/ikonoak/trash.png" class="" alt="gelditu" /></a>
            <p>{{ audio_izena }}</p>
          </div>
        </div>

        <div class="col-xs-9">
          <div class="elementuak">
            <span ng-repeat="ahotsa in ahotsak" class="audioa" ng-click="openAudioa(ahotsa)" hm-press="openAudioa(ahotsa)">
              <img src="images/ikonoak/audioak.png" alt="ahotsa"/>
              <p>
                {{ ahotsa.izena }}
              </p>
            </span>
          </div>
        </div>
      </div>
    </div>
  </uib-tab>
</uib-tabset>
<a ng-click="atzera(erabiltzailea.id)" class="play_gorde"><img src="images/ikonoak/atzera.png" id="atzera_joan" class="" alt="Atzera joan" /></a>
<a ng-click="bideo_modua_stop ()" class="atzera_erakutsi"><img src="images/ikonoak/atzera.png" id="atzera_ipuina" class="" alt="Atzera joan" /></a>
<a ng-click="bideo_modua_play ()" class="play_gorde"><img src="images/ikonoak/play.png" id="play_ipuina" class="" alt="ipuina ikusi" /></a>
<a ng-click="bideo_modua_stop ()" class="stop_erakutsi"><img src="images/ikonoak/stop.png" id="stop_ipuina" class="" alt="ipuina ikusi" /></a>
<div id="lanean"><img src="images/lanean.gif" alt="lanean" /></div>
