<a ng-click="audio_on_off ('sarrera')" id="audio_on_off"><img ng-src="{{audio_mutu && 'images/ikonoak/audio-off.png' || 'images/ikonoak/audio-on.png'}}" class="itzal" /></a>

<div class="container">
  
  <div class="row">
    
    <div class="col-xs-12">
      
      <div id="menua-burua">
      
        <div id="kontaklik">
          <a href="#/"><img src="images/kontaklik.png" /></a>
        </div>
        
        <div id="erabiltzailea">
          {{erabiltzailea.izena}}
        </div>
        
      </div>
      
    </div>
    
  </div>
  
  <div id="menua-kutxa">
    
    <div class="row">
      
      <div class="col-xs-9" style="padding-right: 0px">
        
        <div id="elementuak">
          
          <div class="elementua" ng-repeat="ipuina in ipuinak">
            
            <a href="#/ipuinak/{{erabiltzailea.id}}/{{ipuina.id}}" ng-click="soinuak.audio_play ('click')" hm-press="ipuina_datuak (ipuina.id)">
              
              <img ng-src="{{ipuina.path}}" src="images/eszena_fondo_gabe.jpg" />
              
              <p>{{ipuina.izenburua}}</p>
              
            </a>
            
          </div>
          
        </div>
        
      </div>
      
      <div class="col-xs-3">
        
        <div id="berria">
          
          <a ng-click="ipuina_datuak (0)">
            
            <img src="images/ikonoak/plus.png" />
            
            <p>Ipuin berria sortu!</p>
            
          </a>
          
        </div>
        
      </div>
    
  </div>
  
</div>