<button type="button" class="btn btn-default" ng-click="menuaCollapse()" ng-hide="!menuaCollapsed" id="goiko-menua-collapsed"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></button>

<a ng-click="bideo_modua_stop ()" ng-hide="!bideo_modua.playing" id="bideo_modua_stop" class="itzal"><img src="images/ikonoak/atzera.png" id="eszena_berria" /></a>

<!--<button type="button" class="btn btn-default" ng-click="bideo_modua_stop ()" ng-hide="!bideo_modua.playing" id="bideo_modua_stop"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>-->

<uib-tabset active="active" class="goiko-menua">
  
  <div class="kontaklik">
    <a href="#/"><img src="images/kontaklik-home.png" /></a>
  </div>
  
  <uib-tab index="0">
    <uib-tab-heading>Eszenak</uib-tab-heading>
    
    <div class="tab-edukia">
      <div class="row">
        <div class="col-xs-9">
          <div id="eszenak">
            <a ng-click="eszenaAurreratu ()" ng-disabled="!eszenak_nabigazioa.aurrera"><img src="images/ikonoak/prev.png" class="prevnext itzal" /></a>
          
            <div class="fondoak">
              
              <img ng-click="changeEszena (eszena)" hm-press="pressEszena (eszena.id)" ng-repeat="eszena in eszenak" class="fondo" ng-class="{'active': eszena.id == uneko_eszena_id}" ng-src="{{eszena.path}}" src="images/eszena_fondo_gabe.jpg" />
              
            </div>
            
            <a ng-click="eszenaAtzeratu ()" ng-disabled="!eszenak_nabigazioa.atzera"><img src="images/ikonoak/next.png" class="prevnext itzal" /></a>
          </div>
        </div>
        
        <div class="col-xs-1">
          <a ng-click="bideo_modua_play ()"><img src="images/ikonoak/play.png" id="play_ipuina" class="itzal" /></a>
        </div>
        
        <div class="col-xs-2">
          <a ng-click="addEszena ()"><img src="images/ikonoak/gehitu.png" id="eszena_berria" class="itzal" /></a>
        </div>
      </div>
    </div>
  </uib-tab>
  
  <uib-tab index="1">
    <uib-tab-heading>Fondoak</uib-tab-heading>
    
    <div class="tab-edukia">
      <div class="row">
        <div class="col-xs-8">
          <div class="elementuak">
            <a ng-click="addFondoa (fondoa)" hm-press="pressFondoa (fondoa)" ng-repeat="fondoa in fondoak"><img ng-src="{{fondoa.path}}" class="irudia" /></a>
          </div>
        </div>
        
        <div class="col-xs-4">
          <div class="kargatu">
            <img src="images/kargatu_zure_argazkiak.jpg" class="info" />
            <a ng-click="takeGallery ('fondoa')"><img src="images/ikonoak/galeria.jpg" class="ikon" /></a>
            <a ng-click="takePicture ('fondoa')"><img src="images/ikonoak/kamara.jpg" class="ikon" /></a>
          </div>
        </div>
      </div>
    </div>
  </uib-tab>
  
  <uib-tab index="2">
    <uib-tab-heading>Objektuak</uib-tab-heading>
    
    <div class="tab-edukia">
      <div class="row">
        <div class="col-xs-8">
          <div class="elementuak">
            <a ng-click="addObjektua (objektua)" hm-press="pressObjektua (objektua)" ng-repeat="objektua in objektuak"><img ng-src="{{objektua.path}}" class="irudia" /></a>
          </div>
        </div>
        
        <div class="col-xs-4">
          <div class="kargatu">
            <img src="images/kargatu_zure_argazkiak.jpg" class="info" />
            <a ng-click="takeGallery ('objektua')"><img src="images/ikonoak/galeria.jpg" class="ikon" /></a>
            <a ng-click="takePicture ('objektua')"><img src="images/ikonoak/kamara.jpg" class="ikon" /></a>
          </div>
        </div>
      </div>
    </div>
  </uib-tab>
  
  <uib-tab index="3">
    <uib-tab-heading>Testuak</uib-tab-heading>
    
    <div class="tab-edukia">
      <a ng-click="addTestua ()"><img src="images/ikonoak/gehitu.png" id="testu_berria" class="itzal" /></a>
    </div>
  </uib-tab>
  
  <uib-tab index="4" deselect="audioa_tab_desaukeratua()">
    <uib-tab-heading>Audioa</uib-tab-heading>
    
    <div class="tab-edukia">
      <div ng-hide="uneko_audioa.izena != ''">
        <div class="mikro">
          <img src="images/ikonoak/mikro.jpg" />
          <p>{{uneko_audioa.counter | kontador}}</p>
          <!--<p ng-hide="uneko_audioa.counter == 0">{{uneko_audioa.counter | kontador}}</p>-->
        </div>
        
        <div class="kontrols">
          <a ng-click="audioa_startRecord ()" ng-hide="uneko_audioa.egoera == 'record'"><img src="images/ikonoak/audio_rec.png" class="itzal" /></a>
          <a ng-click="audioa_stopRecord ()" ng-hide="uneko_audioa.egoera == 'stop'"><img src="images/ikonoak/audio_stop.png" class="itzal" /></a>
        </div>
      </div>
      
      <div ng-hide="uneko_audioa.izena == ''">
        <div class="mikro">
          <img src="images/ikonoak/mikro.jpg" />
          <!--<p>{{uneko_audioa.counter | kontador}} | {{uneko_audioa.iraupena | kontador}}</p>-->
          <p>{{uneko_audioa.counter | kontador}}</p>
        </div>
        
        <div class="kontrols">
          <a ng-click="audioa_play ()" ng-hide="uneko_audioa.egoera == 'play'"><img src="images/ikonoak/audio_play.png" class="itzal" /></a>
          <a ng-click="audioa_pause ()" ng-hide="uneko_audioa.egoera != 'play'"><img src="images/ikonoak/audio_pause.png" class="itzal" /></a>
          <a ng-click="audioa_stop ()" ng-hide="uneko_audioa.egoera != 'play' && uneko_audioa.egoera != 'pause'"><img src="images/ikonoak/audio_stop.png" class="itzal" /></a>
          
          <button ng-click="audioa_delete ()" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
        </div>
        
        <!--<uib-progressbar max="uneko_audioa.iraupena" value="uneko_audioa.counter+1"><span style="color:white; white-space:nowrap;">{{uneko_audioa.counter | kontador}} / {{uneko_audioa.iraupena | kontador}}</span></uib-progressbar>-->
      </div>
    </div>
  </uib-tab>
  
  <div class="pull-right">
    <!--<a href="#/ipuinak/{{erabiltzailea.id}}">{{erabiltzailea.izena}}</a> &gt; {{ipuina.izenburua}}-->
    <button type="button" class="btn btn-default" ng-click="menuaCollapse()"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></button>
  </div>
  
</uib-tabset>

<div id="lanean"><img src="images/lanean.gif" /></div>

<div id="tutoriala" hm-swiperight="wizard_prev()" hm-swipeleft="wizard_next()">
  <div ng-include="'views/wizard.html'"></div>
</div>