<div class="container" id="menua">
  
  <div class="row">
    <div class="col-xs-12">
      <h1>
        <a href="#/">
          <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
          <span class="sr-only">Hasiera</span>
        </a>
        
        {{erabiltzailea.izena}}
      </h1>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12">
      <button type="button" class="btn btn-primary btn-block btn-lg" ng-click="modal_ireki_ipuin_berria ()">SORTU IPUIN BERRIA</button>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12">
      <h1>IPUINAK</h1>
      
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="ipuina in ipuinak">
          <a href="#/ipuinak/{{erabiltzailea.id}}/{{ipuina.id}}">{{ipuina.izenburua}}</a>
        </li>
      </ul>
    </div>
  </div>
  
</div>