<wizard on-finish="wizard_end()">
  <wz-step wz-title="Fondoa">
    <h1>Eszenaren fondoa</h1>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In faucibus metus massa. Cras finibus sagittis nulla, at vulputate sapien lobortis vitae. Pellentesque sit amet erat eu magna rutrum finibus. Ut non ultrices sem. In hac habitasse platea dictumst. Mauris purus metus, tincidunt et nibh a, malesuada volutpat ante. Donec malesuada quam ex, ut aliquam lorem eleifend eget. Nunc rhoncus luctus imperdiet. Donec pellentesque erat auctor, pharetra mauris sed, tincidunt sem.</p>
    
    <p>Cras quis varius est. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus faucibus mauris non mauris sagittis pharetra. Sed tincidunt molestie nunc vitae semper. Etiam ornare posuere massa, eget sodales ex ultricies sed. Mauris a consectetur ex. Mauris vitae ultrices felis. Cras cursus ante consectetur feugiat congue. Proin consectetur mollis velit aliquam elementum. Integer placerat iaculis magna, vitae egestas orci. Sed mattis, quam non mollis luctus, elit elit hendrerit nunc, ullamcorper tristique ipsum lectus vitae eros. Praesent quis scelerisque enim. Aenean id felis quis tellus hendrerit sodales. Morbi neque ipsum, faucibus nec ex quis, ullamcorper sagittis dui. Cras sollicitudin metus nulla, sit amet scelerisque quam iaculis a.</p>
    
    <input class="btn btn-default" type="submit" wz-next value="Jarraitu" />
  </wz-step>
  
  <wz-step wz-title="Objektuak/testuak">
    <h1>Eszenan objektuak/testuak gehitu</h1>
    
    <p>Cras vitae venenatis tortor. Phasellus eget ullamcorper lacus, a malesuada diam. Nulla ut pellentesque lacus. Proin id cursus diam. Proin accumsan est in dapibus convallis. Suspendisse potenti. Cras nec gravida ex. Aenean convallis odio imperdiet, aliquam ipsum vel, cursus lacus. Mauris eu risus varius, sagittis lectus nec, convallis lectus. Aliquam cursus, dui non efficitur facilisis, dui enim euismod elit, fermentum viverra leo tellus ut elit. Suspendisse eu dignissim lorem, sit amet placerat massa. Donec vehicula purus neque, non pharetra leo finibus sed.</p>
    
    <p>Ut viverra enim non dolor egestas dapibus. Mauris id ligula posuere, scelerisque odio suscipit, tempus nunc. Sed ullamcorper fringilla tellus quis pellentesque. Mauris suscipit molestie facilisis. Maecenas in tortor lorem. Nulla ornare in neque sed congue. Aliquam risus mi, fringilla eget pulvinar sed, tristique egestas dolor. Duis accumsan mauris et lorem maximus tempus. Aenean commodo urna id lacinia dictum. Mauris viverra massa a bibendum facilisis. Quisque tincidunt sodales orci, quis pharetra velit tincidunt at.</p>
    
    <p>Quisque posuere augue luctus nunc efficitur, sit amet blandit arcu bibendum. Proin efficitur orci mi, eu placerat risus accumsan ac. Sed cursus id diam vel ullamcorper. Donec condimentum, neque vitae dictum lacinia, quam dui iaculis lacus, vitae sodales tellus enim vitae felis. Morbi viverra porta nisl, eu semper tellus lacinia ac. Vivamus odio orci, eleifend ut lobortis non, rutrum efficitur ante. Aenean a purus ex. Nunc congue mauris eu tortor finibus lacinia. Mauris a justo ultricies, ornare tortor at, laoreet sapien. Aenean dictum volutpat dolor.</p>
    
    <input class="btn btn-default" type="submit" wz-next value="Jararitu" />
  </wz-step>
  
  <wz-step wz-title="Audio">
    <h1>Eszenari audioa gehitu</h1>
    
    <p>Quisque facilisis ex ut nunc sollicitudin feugiat. Nunc egestas elit non ante mollis blandit. In et massa rhoncus, pretium sem et, mattis nulla. Nam ac egestas risus, eu iaculis felis. Pellentesque pretium ex eros, sit amet imperdiet neque dictum at. Phasellus eleifend varius eros. Ut hendrerit orci ac laoreet sodales. Nulla nibh nisi, finibus aliquet facilisis mollis, sagittis porttitor risus. Donec auctor a turpis non tincidunt. Maecenas mollis turpis a neque vehicula rutrum. Nunc convallis dui at hendrerit eleifend. Morbi ut nisi ullamcorper, euismod nibh id, accumsan lorem. Nulla suscipit non erat sed auctor.</p>
    
    <p>Donec elementum metus vitae velit eleifend sagittis. Ut vehicula bibendum rutrum. Mauris eleifend dapibus volutpat. Pellentesque sed aliquam justo, nec pretium purus. Fusce nec sodales neque. Sed eget orci ligula. Sed et mi ultricies, lacinia felis sit amet, iaculis dolor. Ut porttitor turpis et nisi condimentum ultrices. Suspendisse potenti. Nulla molestie faucibus nisl, ac auctor ipsum laoreet non. Curabitur eget risus nisl. Praesent eu enim condimentum, malesuada mauris quis, accumsan ex. Vestibulum congue porttitor ex, at suscipit erat tempor ut. Cras nec tellus ut metus tincidunt vulputate. Morbi nunc justo, convallis sit amet faucibus eget, fringilla efficitur nibh.</p>
    
    <input class="btn btn-default" type="submit" wz-next value="Jarraitu" />
  </wz-step>
  
  <wz-step wz-title="Eszenak">
    <h1>Eszena gehiago sortu</h1>
    
    <p>Vestibulum tristique mollis libero, ac maximus mauris luctus et. Nam viverra ac orci quis egestas. Cras suscipit dui a nulla ornare, id hendrerit tellus ultricies. Quisque maximus sed enim sit amet faucibus. Vivamus in erat mattis, tempus ipsum at, elementum velit. Ut orci purus, semper eu tellus ac, dignissim mattis ex. Vestibulum malesuada sagittis lectus at semper. Maecenas porta erat sapien, et accumsan velit dignissim elementum. Duis ac mi scelerisque, accumsan massa vitae, vehicula nisi.</p>
    
    <p>Quisque varius ut leo ac interdum. Sed fringilla, velit laoreet fermentum eleifend, neque urna egestas purus, eu ullamcorper velit ex facilisis ante. Cras scelerisque, mauris id ultrices maximus, felis turpis venenatis lectus, placerat viverra nunc augue et nibh. Fusce at tortor finibus, semper libero sed, venenatis nunc. Curabitur non facilisis augue, a lobortis felis. Suspendisse sit amet scelerisque risus. Maecenas sit amet lorem est. Vivamus id mi sit amet velit vulputate faucibus nec et ante. Nam ullamcorper nibh lorem, sed lobortis risus elementum nec. Curabitur varius, libero nec consectetur commodo, sem arcu egestas metus, vitae aliquet orci sapien eget urna. Aenean feugiat orci nisl, non lacinia enim facilisis nec. Aenean interdum magna a nulla pretium pharetra. Sed lacinia laoreet sapien, auctor iaculis nisi aliquam non. Sed molestie tortor ac arcu lacinia scelerisque.</p>
    
    <p>Donec diam leo, dignissim at mauris in, semper ullamcorper mauris. Sed dignissim nunc quis diam convallis vehicula. Suspendisse ante sem, sollicitudin nec ultricies sit amet, placerat blandit turpis. In consectetur libero fringilla enim facilisis, in tempus quam ultrices. Suspendisse sed nisi mi. Proin in congue lorem. Aenean ultricies pretium metus, sit amet ultricies purus suscipit nec. Nulla erat mi, viverra eget vestibulum a, elementum sed tortor. Vivamus eleifend tristique dapibus. Nullam dui tellus, ullamcorper at quam ac, faucibus tristique dolor. Sed elit tortor, interdum quis dapibus a, tempus ac ex.</p>
    
    <input class="btn btn-default" type="submit" wz-next value="Jarraitu" />
  </wz-step>
  
  <wz-step wz-title="Jolastu!">
    <h1>Jolastu!</h1>
    
    <p>That's all folks!!!!</p>
    
    <input class="btn btn-default" type="submit" wz-next value="Jolastu!" />
  </wz-step>
</wizard>