<div class="modal-header">
  <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="itxi ()"><span aria-hidden="true">&times;</span></button>-->
  <img class="itxi" src="images/ikonoak/itxi.png" ng-click="itxi ()" alt="itxi" />
</div>
<div class="modal-body">
  <div ng-if="errore_mezua !== ''" class="alert alert-warning" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Oharra:</span> {{errore_mezua}}
  </div>

  <form name="formularioa" novalidate="">
    <div class="form-group fotua">
        <img src="images/erabiltzailea-neska.png" ng-src="{{argazkia_fullPath == '' && 'images/erabiltzailea.png' || argazkia_fullPath}}" id="argazkia" alt="argazkia" />
        <a ng-click="takePicture ()"><img src="images/ikonoak/kamara.png" id="kamera"/></a>
        <a ng-if="eremuak.argazkia != ''" ng-click="argazkia_ezabatu ()"><img src="images/ikonoak/cross.png" id="argazkia_ezabatu"/></a>

    </div>
    <div class="form-group testua" ng-class="{'has-error': errore_mezua !== '' || (submit && formularioa.izena.$invalid)}">
      <label for="izena">Zure izena</label>
      <input type="text" class="form-control" id="izena" name="izena" ng-model="eremuak.izena" placeholder="Izena" required autofocus />
    </div>

    <div ng-if="submit && formularioa.izena.$invalid" class="alert alert-warning" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Oharra:</span> Izena eremua bete mesedez
    </div>


  </form>

  <a ng-if="ezabatu_button" ng-click="erabiltzailea_ezabatu ()"><img src="images/ikonoak/cross.png" id="erabiltzailea_ezabatu"/></a>
  <a ng-click="erabiltzailea_gorde (formularioa)"><img src="images/ikonoak/check.png" id="check"/></a>
  <div style="clear:both"></div>
</div>
