<div class="modal-header">
  <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="itxi ()"><span aria-hidden="true">&times;</span></button>-->
  <h4 class="modal-title" id="myModalLabel">Testua</h4>
</div>

<div class="modal-body">
  
  <div ng-if="errore_mezua !== ''" class="alert alert-warning" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Oharra:</span>
    {{errore_mezua}}
  </div>
  
  <form name="formularioa" novalidate="" ng-submit="testua_gorde (formularioa)">
    
    <div class="form-group" ng-class="{'has-error' : submit && formularioa.testua.$invalid, 'has-success' : submit && formularioa.testua.$valid}">
      <label for="testua">Testua</label>
      <textarea class="form-control" rows="3" id="testua" name="testua" ng-model="eremuak.testua" placeholder="Testua" required autofocus></textarea>
    </div>
    
    <div ng-if="submit && formularioa.testua.$invalid" class="alert alert-warning" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Oharra:</span>
      Testua eremua bete mesedez
    </div>
    
    <div class="form-group">
      <label for="fontSize">Letra tamaina</label>
      <select class="form-control" id="fontSize" name="fontSize" ng-model="eremuak.fontSize" required>
        <option value="16" ng-selected="eremuak.fontSize == 16">txikia</option>
        <option value="24" ng-selected="eremuak.fontSize == 24">ertaina</option>
        <option value="32" ng-selected="eremuak.fontSize == 32">handia</option>
      </select>
    </div>
    
    <div class="form-group">
      <label for="color">Letra kolorea</label>
      <input type="hidden" name="color" id="color" value="{{eremuak.color}}" ng-model="eremuak.color" />
      <p>
        <div ng-repeat="kolorea in koloreak" ng-click="aldaketa ('color', kolorea)" class="laukitxo" ng-class="{'aukeratuta': eremuak.color == kolorea}" style="background-color:{{kolorea}};"></div>
      </p>
    </div>
    
    <div class="form-group">
      <label for="class">Bubble itxura</label>
      <select class="form-control" id="class" name="class" ng-model="eremuak.class">
        <option value="bubble none" ng-selected="eremuak.class == ''">none</option>
        <option value="bubble bottom" ng-selected="eremuak.class == 'bubble bottom'">bottom</option>
        <option value="bubble left" ng-selected="eremuak.class == 'bubble left'">left</option>
        <option value="bubble top" ng-selected="eremuak.class == 'bubble top'">top</option>
        <option value="bubble right" ng-selected="eremuak.class == 'bubble right'">right</option>
      </select>
    </div>
    
    <div class="form-group">
      <label for="borderColor">Border Color</label>
      <input type="hidden" name="borderColor" id="borderColor" value="{{eremuak.borderColor}}" ng-model="eremuak.borderColor" />
      <p>
        <div ng-repeat="kolorea in koloreak" ng-click="aldaketa ('borderColor', kolorea)" class="laukitxo" ng-class="{'aukeratuta': eremuak.borderColor == kolorea}" style="background-color:{{kolorea}};"></div>
      </p>
    </div>
    
    <div class="form-group">
      <label for="backgroundColor">Background Color</label>
      <input type="hidden" name="backgroundColor" id="backgroundColor" value="{{eremuak.backgroundColor}}" ng-model="eremuak.backgroundColor" />
      <p>
        <div ng-repeat="kolorea in koloreak" ng-click="aldaketa ('backgroundColor', kolorea)" class="laukitxo" ng-class="{'aukeratuta': eremuak.backgroundColor == kolorea}" style="background-color:{{kolorea}};"></div>
      </p>
    </div>
    
    <div class="form-group">
      <button type="button" class="btn btn-default" ng-click="itxi ()">Itxi</button>
      <button type="submit" class="btn btn-primary">Gorde</button>
      <button type="button" class="btn btn-danger" ng-if="ezabatu_button" ng-click="testua_ezabatu ()">Ezabatu</button>
    </div>
    
  </form>
  
</div>