<div class="modal-header">
  <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="itxi ()"><span aria-hidden="true">&times;</span></button>-->
  <h4 class="modal-title" id="myModalLabel">Testua</h4>
</div>

<div class="modal-body">
  
  <form name="formularioa" novalidate="" ng-submit="testua_gorde (formularioa)">
    
    <div class="form-group" ng-class="{'has-error' : submit && formularioa.testua.$invalid, 'has-success' : submit && formularioa.testua.$valid}">
      <label for="tesua">Testua</label>
      <textarea class="form-control" rows="5" id="testua" name="testua" ng-model="eremuak.testua" placeholder="Testua" required autofocus></textarea>
    </div>
    
    <div ng-if="submit && formularioa.testua.$invalid" class="alert alert-warning" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Oharra:</span>
      Testua eremua bete mesedez
    </div>
    
    <label class="radio-inline">
      <input type="radio" name="color" id="color_1" value="#000000" ng-model="eremuak.color" ng-checked="eremuak.color == '#000000'" />
      <div style="width:20px;height:20px;background-color:#000000;"></div>
    </label>
    <label class="radio-inline">
      <input type="radio" name="color" id="color_2" value="#ff0000" ng-model="eremuak.color" ng-checked="eremuak.color == '#ff0000'" />
      <div style="width:20px;height:20px;background-color:#ff0000;"></div>
    </label>
    <label class="radio-inline">
      <input type="radio" name="color" id="color_3" value="#00ff00" ng-model="eremuak.color" ng-checked="eremuak.color == '#00ff00'" />
      <div style="width:20px;height:20px;background-color:#00ff00;"></div>
    </label>
    <label class="radio-inline">
      <input type="radio" name="color" id="color_4" value="#0000ff" ng-model="eremuak.color" ng-checked="eremuak.color == '#0000ff'" />
      <div style="width:20px;height:20px;background-color:#0000ff;"></div>
    </label>
    
    <div class="form-group">
      <button type="button" class="btn btn-default" ng-click="itxi ()">Itxi</button>
      <button type="submit" class="btn btn-primary">Gorde</button>
      <button type="button" class="btn btn-danger" ng-if="ezabatu_button" ng-click="testua_ezabatu ()">Ezabatu</button>
    </div>
    
  </form>
  
</div>