<div class="modal-header">
  <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="itxi ()"><span aria-hidden="true">&times;</span></button>-->
  <h4 class="modal-title" id="myModalLabel">Ipuina</h4>
  <img class="itxi" src="images/ikonoak/itxi.png" ng-click="itxi ()" />
</div>
<div class="modal-body">
  <div ng-if="errore_mezua !== ''" class="alert alert-warning" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Oharra:</span>
    {{errore_mezua}}
  </div>
  
  <form name="formularioa" novalidate="" ng-submit="ipuina_gorde (formularioa)">
    <div class="form-group" ng-class="{'has-error': errore_mezua !== '' || (submit && formularioa.izenburua.$invalid)}">
      <label for="izenburua">Izenburua</label>
      <input type="text" class="form-control" id="izenburua" name="izenburua" ng-model="eremuak.izenburua" placeholder="Izenburua" required autofocus />
    </div>
    
    <div ng-if="submit && formularioa.izenburua.$invalid" class="alert alert-warning" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Oharra:</span>
      Izenburua eremua bete mesedez
    </div>
    
    <div class="botoiak">
      <button type="submit" class="btn btn-primary">Gorde</button>
      <button type="button" class="btn btn-danger" ng-if="ezabatu_button" ng-click="ipuina_ezabatu ()">Ezabatu</button>
    </div>
  </form>
</div>