<div class="modal-header">
  <img class="itxi" src="images/ikonoak/itxi.png" ng-click="itxi ()" alt="itxi" />
</div>
<div class="modal-body">
  <div ng-if="errore_mezua !== ''" class="alert alert-warning" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Oharra:</span> {{errore_mezua}}
  </div>

  <form name="formularioa" novalidate="">
    <div class="form-group testua" ng-class="{'has-error': errore_mezua !== '' || (submit && formularioa.izenburua.$invalid)}">
      <label for="izenburua">Izenburua</label>
      <input type="text" class="form-control" id="izenburua" name="izenburua" ng-model="eremuak.izenburua" placeholder="Izenburua" required autofocus />
    </div>

    <div ng-if="submit && formularioa.izenburua.$invalid" class="alert alert-warning" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Oharra:</span> Izenburua eremua bete mesedez
    </div>
  </form>
  <a ng-if="ezabatu_button" ng-click="ipuina_ezabatu ()"><img src="images/ikonoak/trash.png" id="erabiltzailea_ezabatu"/></a>
  <a ng-click="ipuina_gorde (formularioa)"><img src="images/ikonoak/check.png" id="check"/></a>
  <div style="clear: both"></div>
</div>
