<div class="modal-header">
  <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="itxi ()"><span aria-hidden="true">&times;</span></button>-->
  <h4 class="modal-title" id="myModalLabel">Menua</h4>
  <img class="itxi" src="images/ikonoak/itxi.png" ng-click="itxi()" alt="itxi" />
</div>
<div class="modal-body">
    <div class="botoiak">
      <button type="button" class="btn btn-primary" ng-click="bikoiztu()">Bikoiztu</button>
      <button type="button" class="btn btn-primary" ng-click="buelta_eman()">Buelta eman</button>
      <button type="button" class="btn btn-primary" ng-click="lehenengo_planora()">Lehenengo planora ekarri</button>
      <button type="button" class="btn btn-danger" ng-click="ezabatu()">Ezabatu</button>
    </div>
  </form>
</div>
