<div class="gardena">
    <div class="botoiak">
      <a ng-click="bikoiztu()"><img src="images/ikonoak/kopiatu.png" width="120px" /></a>
      <a ng-click="buelta_eman()"><img src="images/ikonoak/flip.png" width="120px" /></a>
      <a ng-click="lehenengo_planora()"><img src="images/ikonoak/kapa.png" width="120px" /></a>
      <button type="button" class="btn btn-primary" ng-click="nondik()"><i class="glyphicon glyphicon-thumbs-up" ng-if="objektua.style1 != null"></i> Nondik</button>
      <button type="button" class="btn btn-primary" ng-click="nora()"><i class="glyphicon glyphicon-thumbs-up" ng-if="objektua.style2 != null"></i> Nora</button>
      <a ng-click="ezabatu()"><img src="images/ikonoak/trash.png" width="120px" /></a>
      <a ng-click="itxi()"><img src="images/ikonoak/check.png" width="120px" /></a>
    </div>
  </form>
</div>
