<div class="modal-body">
    <div class="botoiak">
      <a ng-click="bikoiztu()"><img src="images/ikonoak/kopiatu.png" width="80px" /></a>
      <a ng-click="buelta_eman()"><img src="images/ikonoak/flip.png" width="80px" /></a>
      <a ng-click="lehenengo_planora()"><img src="images/ikonoak/kapa.png" width="80px" /></a>
      <a ng-click="nondik()"><img src="images/ikonoak/animazioak1.png" width="80px" ng-class="{ aktibatua: objektua.style1 != null}"/></a>
      <a ng-click="nora()"><img src="images/ikonoak/animazioak2.png" width="80px" ng-class="{ aktibatua: objektua.style2 != null }" /></a>
      <a ng-click="ezabatu()"><img src="images/ikonoak/trash.png" width="80px" /></a>
      <a ng-click="itxi()"><img src="images/ikonoak/check.png" width="80px" /></a>
    </div>
  </form>
</div>
