@keyframes torloju {
  
  25%,100% {
    -ms-transform: scale(1, 1) rotate(0deg);
    -webkit-transform: scale(1, 1) rotate(0deg);
    transform: scale(1, 1) rotate(0deg);
  }
  90% {
    -ms-transform: scale(0.5, 0.5) rotate(360deg);
    -webkit-transform: scale(0.5, 0.5) rotate(360deg);
    transform: scale(0.5, 0.5) rotate(360deg);
  }
  
}

@keyframes erabiltzailea_sartu {
  
  0% {
    margin-left: -200px;
  }
  75% {
    margin-left: 50px;
  }
  85% {
    margin-left: 20px;
  }
  95% {
    margin-left: 35px;
  }
  100% {
    margin-left: 30px;
  }
  
}