html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body { 
  width: 100%;
  height: 100%;
  /* Lo siguiente impide que se puedan seleccionar los textos */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#eszenatokia {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  background: url('../images/fondoa.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 10px;
  margin: 0;
}

#menua {
  margin-top: 50px;
}

.laukia {
  position: absolute;
  background: silver;
  max-width: 150px;
  max-height: 150px;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.goiko-menua {
  position: fixed;
  top: 15px;
  left: 15px;
  right: 15px;
  background-color: #fff;
  z-index: 1001;
}

.goiko-menua .kontaklik {
  float: left;
  margin: 10px;
}

.goiko-menua .kontaklik img {
  height: 50px;
  width: auto;
}

.goiko-menua .nav-tabs {
  border: none;
}

.goiko-menua .nav-tabs > li > a,
.goiko-menua .nav-tabs > li > a:hover,
.goiko-menua .nav-tabs > li > a:focus {
  min-width: 100px;
  min-height: 50px;
  border-color: transparent;
  border-radius: 0px;
  background-color: #ededec;
  color: #92a7ac;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  padding-top: 18px;
  margin-left: 10px;
}

.goiko-menua .nav-tabs > li.active > a,
.goiko-menua .nav-tabs > li.active > a:hover,
.goiko-menua .nav-tabs > li.active > a:focus {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 4px solid #e73c68;
  background-color: #fff;
  color: #e73c68;
}

.goiko-menua .tab-edukia {
  height: 100px; /*120*/
  padding: 10px;
}

.goiko-menua .tab-edukia #eszenak img {
  float: left;
  height: 50px;
  width: auto;
  padding-top: 24px;
  margin-right: 10px;
}

.goiko-menua .tab-edukia #eszenak .elementuak {
  float: left;
  width: auto;
  max-width: 80%;
  height: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  margin-right: 10px;
}

.goiko-menua .tab-edukia #eszenak .elementuak .eszena,
.goiko-menua .tab-edukia #eszenak .elementuak .eszena:focus {
  display: inline-block;
  height: 80px; /*100*/
  width: 80px;
  margin-right: 10px;
  padding-top: 30px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  background-color: #ededec;
  color: #92a7ac;
}

.goiko-menua .tab-edukia #eszenak .elementuak .eszena.active,
.goiko-menua .tab-edukia #eszenak .elementuak .eszena.active:focus {
  text-decoration: none;
  background-color: #e73c68;
  color: #fff;
}

.goiko-menua .tab-edukia .elementuak {
  width: 100%;
  height: 100%;
  white-space: nowrap;
  overflow-x: scroll;
}

.goiko-menua .tab-edukia .elementuak .irudia {
  display: inline-block;
  height: 80px;
  width: auto;
  margin: 5px;
}

.goiko-menua .tab-edukia .kargatu-zure-argazkiak {
  max-height: 80px;
  max-width: 140px;
  height: auto;
  width: auto;
}

.goiko-menua .tab-edukia .ikon {
  max-height: 80px;
  max-width: 50px;
  height: auto;
  width: auto;
}

.goiko-menua .tab-edukia .mikro {
  float: left;
  margin-left: 10px;
  margin-right: 40px;
  text-align: center;
  padding-top: 0px;
}

.goiko-menua .tab-edukia .mikro img {
  height: 60px;
  width: auto;
}

.goiko-menua .tab-edukia .mikro p  {
  color: #e73c68;
  font-weight: bold;
  font-size: 12px;
}

.goiko-menua .tab-edukia .kontrols {
  float: left;
  padding-top: 10px;
}

.goiko-menua .tab-edukia .kontrols img {
  height: 60px;
  width: auto;
  margin-right: 10px;
}

/*a.disabled {
  background-color: #f00;
}*/

#goiko-menua-collapsed,
#bideo_modua_kontrolak {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1001;
}

.list-group-item a {
  display: block;
  color: #333;
}

.objektua {
  z-index: 10;
}

.testua {
  z-index: 20;
}

.testua div {
  display: inline;
  position: absolute;
  padding: 10px;
  max-width: 90%;
  max-height: 50%;
  
  /* El resto de propiedades están en la clase .bubble definida en el archivo css/speech_bubbles.css
  
  /* Lo pongo en el body para que no se pueda seleccionar ningún texto
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;*/
}

.laukitxo {
  display:inline-block;
  border: 2px solid #000;
  width:40px;
  height:40px;
  margin-right: 2px;
}

.laukitxo.aukeratuta {
  border-color: yellow;
}