html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body { 
  background: url(../assets/backgrounds/background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}

#eszenatoki {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

#menua {
  margin-top: 50px;
}

.laukia {
  position: absolute;
  background: silver;
  max-width: 150px;
  max-height: 150px;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.karrusela-irudia {
  max-width: 100px;
  max-height: 100px;
  margin: 5px;
}

.goiko-menua {
  position: fixed;
  top: 15px;
  left: 15px;
  right: 15px;
  background-color: #ccc;
}

.list-group-item a {
  display: block;
  color: #333;
}

.uneko-eszena {
  background-color: yellow !important;
  color: #000 !important;
}