html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body { 
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* Lo siguiente impide que se puedan seleccionar los textos */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#eszenatokia {
  width: 100%;
  height: 100%;
  background: url('../images/fondoa.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 10px;
  margin: 0;
  
  /* lo siguiente está añadido para probar las animaciones en la primera pantalla, afectará luego? */
  overflow: hidden;
  position: relative;
}

/** Hasiera pantailak (erabiltzaileak/ipuinak) **/

#menua-burua {
  margin-top: 50px;
}

#menua-burua #kontaklik {
  text-align: center;
  margin: 20px;
}

#menua-burua #kontaklik img {
  max-width: 30%;
  height: auto;
}

#menua-kutxa {
  width: 100%;
  border: 1px solid #92a7ac;
  border-radius: 10px;
  padding: 40px;
  background-color: #fff;
}

#menua-kutxa #elementuak {
  width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
}

#menua-kutxa #elementuak .elementua {
  display: inline-block;
  width: 32%;
  margin-right: 15px;
  vertical-align: top;
  text-align: center;
  word-wrap: break-word;
}

#menua-kutxa #elementuak .elementua:last-child {
  margin-right: 0;
}

#menua-kutxa #elementuak .elementua a,
#menua-kutxa #elementuak .elementua a:hover,
#menua-kutxa #elementuak .elementua a:focus,
#menua-kutxa #elementuak .elementua a:visited {
  display: inline-block;
  text-decoration: none;
}

#menua-kutxa #elementuak .elementua a:active img {
  border: 4px solid #e73d64 !important;
  transform: translateZ(4px);
}

#menua-kutxa #elementuak .elementua img {
  max-width: 100%;
  max-height: 190px;
  width: auto;
  height: auto;
}

#menua-kutxa #elementuak .elementua p {
  white-space: normal;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  padding-top: 10px;
  color: #92a7ac;
}

#menua-kutxa #berria {
  width: 100%;
  height: 190px;
  text-align: center;
  background-color: #f2da70;
}

#menua-kutxa #berria img {
  width: auto;
  height: 50px;
  margin: 60px auto 20px auto;
}

#menua-kutxa #berria a,
#menua-kutxa #berria a:hover,
#menua-kutxa #berria a:focus {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
}

/** Ipuinak editatzeko menu nagusia **/

.goiko-menua {
  position: fixed;
  top: 15px;
  left: 15px;
  right: 15px;
  background-color: #fff;
  z-index: 1001;
}

.goiko-menua .kontaklik {
  float: left;
  margin: 10px;
}

.goiko-menua .kontaklik img {
  height: 50px;
  width: auto;
}

.goiko-menua .nav-tabs {
  border: none;
}

.goiko-menua .nav-tabs > li > a,
.goiko-menua .nav-tabs > li > a:hover,
.goiko-menua .nav-tabs > li > a:focus {
  min-width: 100px;
  min-height: 50px;
  border-color: transparent;
  border-radius: 0px;
  background-color: #ededec;
  color: #92a7ac;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  padding-top: 18px;
  margin-left: 10px;
}

.goiko-menua .nav-tabs > li.active > a,
.goiko-menua .nav-tabs > li.active > a:hover,
.goiko-menua .nav-tabs > li.active > a:focus {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 4px solid #e73d64;
  background-color: #fff;
  color: #e73d64;
}

.goiko-menua .tab-edukia {
  height: 100px;
  padding: 5px 10px 5px 10px;
}

.goiko-menua .tab-edukia #eszenak .prevnext {
  float: left;
  height: 60px;
  width: auto;
  padding-top: 24px;
  margin-right: 10px;
}

.goiko-menua .tab-edukia #eszenak .fondoak {
  float: left;
  width: auto;
  max-width: 80%;
  height: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  margin-right: 10px;
}

.goiko-menua .tab-edukia #eszenak .fondoak .fondo,
.goiko-menua .tab-edukia #eszenak .fondoak .fondo:focus {
  display: inline-block;
  height: 90px;
  width: auto;
  margin: 0px 5px 0px 0px;
}

.goiko-menua .tab-edukia #eszenak .fondoak .fondo.active,
.goiko-menua .tab-edukia #eszenak .fondoak .fondo.active:focus {
  border: 4px solid #e73d64;
}

.goiko-menua .tab-edukia #eszenak .fondoak .fondo:last-child {
  margin-right: 0;
}

.goiko-menua .tab-edukia #play_ipuina {
  height: 70px;
  width: auto;
  padding-top: 20px;
}

.goiko-menua .tab-edukia .elementuak {
  width: 100%;
  height: 100%;
  white-space: nowrap;
  overflow-x: scroll;
}

.goiko-menua .tab-edukia .elementuak .irudia {
  display: inline-block;
  height: 90px;
  width: auto;
  margin: 0px 5px 0px 0px;
}

.goiko-menua .tab-edukia .elementuak a:last-child .irudia {
  margin-right: 0;
}

.goiko-menua .tab-edukia .kargatu {
  width: 100%;
  height: 100%;
  text-align: right;
}

.goiko-menua .tab-edukia .kargatu .info {
  max-height: 90px;
  max-width: 50%;
  height: auto;
  width: auto;
}

.goiko-menua .tab-edukia .kargatu .ikon {
  max-height: 90px;
  max-width: 23%;
  height: auto;
  width: auto;
}

.goiko-menua .tab-edukia .mikro {
  float: left;
  margin-left: 10px;
  margin-right: 40px;
  text-align: center;
  padding-top: 0px;
}

.goiko-menua .tab-edukia .mikro img {
  height: 60px;
  width: auto;
}

.goiko-menua .tab-edukia .mikro p  {
  color: #e73d64;
  font-weight: bold;
  font-size: 12px;
}

.goiko-menua .tab-edukia .kontrols {
  float: left;
  padding-top: 10px;
}

.goiko-menua .tab-edukia .kontrols img {
  height: 60px;
  width: auto;
  margin-right: 10px;
}

#goiko-menua-collapsed,
#bideo_modua_stop {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1001;
}

#audio_on_off {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1001;
}

/** Leiho modala **/

body.modal-open { /* para desabilitar el scroll por detrás de la ventana modal */
  position: fixed;
  overflow: hidden;
}

.modal-dialog {
  margin: 50px auto !important;
}

.modal-content {
  background-color: #9ac140 !important;
  border-radius: 0px !important;
}

.modal-header {
  border-bottom: none !important;
}

.modal-header h4.modal-title {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.modal-header .itxi {
  position: absolute;
  top: -25px;
  right: -25px;
  width: 50px;
  height: auto;
}

.modal-body label {
  color: #fff;
}

.modal-body .form-control,
.modal-body .form-control:focus {
  border-color: #fff;
  border-radius: 0px;
  box-shadow: none;
}

.modal-body .botoiak {
  text-align: center;
  padding-top: 20px;
}

.modal-body .botoiak button {
  background-color: #fff;
  color: #e73d64;
  border-color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 6px 24px;
}

.modal-body .botoiak button:focus,
.modal-body .botoiak button:hover {
  background-color: #e73d64;
  color: #fff;
  border-color: #e73d64;
}

.modal-body .has-error .form-control {
  border-color: #e73d64;
}

.modal-body .alert-warning {
  color: #e73d64;
  background-color: #fff;
  border-color: #e73d64;
}

.laukia {
  position: absolute;
  /*background: silver;*/
  max-width: 150px;
  max-height: 150px;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.objektua {
  z-index: 10;
}

.testua {
  z-index: 20;
}

.testua div {
  display: inline;
  position: absolute;
  padding: 10px;
  max-width: 90%;
  max-height: 50%;
  
  /* El resto de propiedades están en la clase .bubble definida en el archivo css/speech_bubbles.css*/
}

.laukitxo {
  display:inline-block;
  border: 2px solid #000;
  width:40px;
  height:40px;
  margin-right: 2px;
}

.laukitxo.aukeratuta {
  border-color: yellow;
}

#play_eszena {
  position: absolute;
  bottom: 15px;
  left: 15px;
  height: 70px;
  width: auto;
  z-index: 1001;
  
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

#lanean {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ededec;
  z-index: 2001;
  text-align: center;
  padding-top: 250px;
}