/* Iturria: http://ilikepixels.co.uk/drop/bubbler/ */

/* Estilo general del bocadillo */
.bubble {
  position: relative;
  border: 4px solid #000;
  background-color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  display: block;
  width: 0;
  z-index: 1;
}

/* Bocadillo sin piquito */
.bubble.none:after {
  content: none;
  border-style: none;
}

/* Bocadillo con piquito abajo */
.bubble.bottom:after {
  border-width: 15px 15px 0;
  border-color: #000 transparent;
  margin-left: -15px;
  bottom: -15px;
  left: 50%;
}

/* Bocadillo con piquito arriba */
.bubble.top:after {
  border-width: 0 15px 15px;
  border-color: #000 transparent;
  margin-left: -15px;
  top: -15px;
  left: 50%;
}

/* Bocadillo con piquito a la izquierda */
.bubble.left:after {
  border-width: 15px 15px 15px 0;
  border-color: transparent #000;
  margin-top: -15px;
  left: -15px;
  top: 50%;
}

/* Bocadillo con piquito a la derecha */
.bubble.right:after {
  border-width: 15px 0 15px 15px;
  border-color: transparent #000;
  margin-top: -15px;
  right: -15px;
  top: 50%;
}